/*Estilos de los encabezados utilizados para todas las paginas de la web */
.encabezado{
    display:inline ;
    background-color: rgb(112, 219, 85);
    height: 15%;
    left: 0;
    right: 0;
    top:0;
    position: fixed;
}
/*imagen de fondo para el body*/
body {
    background-image: url(img_doc/fondo3.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
/*estilos de los a utilizados en los encabezados */
#redireccionesEncabezado{
    display:inline;
    position:fixed;
    width: 60% ;
    text-align: center ;
    align-items: center ;
    top: 5.5%;
    left:15%; 
}
/*estilos de los botones utilizados en los encabezados  */
#botonR1{
    float: left;
}
#botonR2{
    float: center ;
}
#botonR3{
   float: right;
}
.botonR{
    transition: background-color 0.3s ease; 
    transition: box-shadow 0.3s ease; 
    border-radius:3px;
    border-width: 0px;
    background-color:rgb(112, 219, 85);
    color:white;
    width:150px; 
    height:25px;
    font-size: 17px;
    cursor: pointer;
}
.botonR:hover{
    background-color: rgb(121, 236, 92);
    box-shadow: 0.01rem 0.01rem 0.25rem 0.25rem rgb(31, 102, 13) ;
}
/* estilos especificos de los botones de volver a inicio*/
#botonVolver{
    transform:translatey(120%);
}
/*Botones de los formularios*/
.boton{
    display:block; 

}

/*estilo de la imagen de dbvet ubicada en el encabezado de las paginas  */
#imagenDBvetPag1{
    width:15%; 
    top:10px;
    left:10px;
    display: block;
    float: left;
    transform: translateY(35%);
} 
/*estilos de los input que se utilizan para ingresar los datos en los diferentes apartados */
.datosMascotaSeccion{
    display: flex ;
    display:grid;
    text-align: center;
    background-color: rgb(255, 255, 255); 
    position: relative ; 
    transform: translateY(21%);
    padding: 20px ;
    width: 20% ;
    margin:40px auto ; 
    border: 5px solid ;
    border-radius:10px; 
    border-color: rgb(31, 102, 13);
}
.datosMascotaSeccion h1 {
    color :rgb(56, 107, 46) ;

}
/* estilos de la seccion donde esta contenido el form para ingresar los datos de las mascotas */
.datosMascota{
    height: 25px ;
    border : 2px solid;
    border-color: rgb(124, 124, 124);
    border-radius: 5px;   
}
/*estilos especificos tabla consultar historial */
#datosConsultarHistorial{
    transform: translateY(80%);
}
/*estilos del pie de pagina utilizado en lodas las paginas de la web  */
footer {
    background-color:rgb(161, 161, 161)  ;
    display: block;
    bottom: 0;
    position: fixed;
    width:100%; 
    left:0; 
    height:7%; 
}
footer p { 
    display:inline;
    float: left ; 
}
footer a { 
    display:block ; 
    float: right ; 
}
/*estilos del formulario usado para subir datos en la pagina de subir datos  */
#formSubirDatos{
    display: flex ;
    display:grid;
    text-align: center;
    background-color: rgb(255, 255, 255); 
    position: relative ; 
    transform: translateY(20%);
    padding: 20px ;
    width: 50% ;
    padding-left: 5%;
    padding-right: 5%;
    margin:40px auto ; 
    border:5px solid ; 
    border-radius:10px; 
    border-color:rgb(31, 102, 13);
}
#formSubirDatos h1{
    color :rgb(56, 107, 46) ;
}
.espacioSubirDatos{
    display:block ;
    float: left ;
    height: 25px ;
    border : 2px solid;
    border-color: rgb(124, 124, 124);
    border-radius: 5px;   
}
/*estilos del apartado de consultar historial*/
#descripcionCita{
    display:block ;
    float: left ;
    width:100%;
    border : 2px solid;
    border-color: rgb(124, 124, 124);
    border-radius: 5px; 
}