* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    margin: 0;
}
/*Estilos de los encabezados utilizados para todas las paginas de la web */
.encabezado{
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px; 
    background-color: #33a354; /* Fondo verde oscuro */
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    align-items: center;
}
/*imagen de fondo para el body*/
body {
    background-image: url(img_doc/fondo3.jpg);
    background-size: cover;
    min-height: 100vh
}
/*estilos de los a utilizados en los encabezados */
#redireccionesEncabezado{
    display: inline-flex;
    height: 100%;
    width: 100%;
    align-items: center;
    gap: 30px;
}

.botonR{
    background-color: #f4f5f0; 
    color: rgb(0, 112, 60); 
    border: 3px solid transparent;
    padding: 8px 18px;   
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 700;
    transition: background-color 0.3s, opacity 0.3s;
    white-space: nowrap;
}
.botonR:hover{
    background-color: rgb(187, 224, 130);
   /* box-shadow: -0.28rem 0.1rem rgb(255, 255, 255);*/
    border: 3px solid rgb(255, 255, 255);
    


}
/* estilos especificos de los botones de volver a inicio*/
#botonVolver{
    position: relative;
    margin-left: 20px;
}
/*Botones de los formularios*/
.boton{
    display: block; 
}

/*estilo de la imagen de dbvet ubicada en el encabezado de las paginas  */
#imagenDBvetPag1{
    height: 2.1rem; 
    object-fit: contain;
    margin: 0px 70px;
} 

#pg_menu_confirmacion {
    background-image: url(img_doc/fondo2.jpg);
}
/*estilos de los input que se utilizan para ingresar los datos en los diferentes apartados */
.datosMascotaSeccion{
    display: flex ;
    display:grid;
    text-align: center;
    background-color: rgb(255, 255, 255); 
    position: relative ; 
    transform: translateY(21%);
    padding: 20px ;
    width: 20% ;
    margin:40px auto ; 
    border: 5px solid ;
    border-radius:10px; 
    border-color: rgb(31, 102, 13);
}
.datosMascotaSeccion h1 {
    color :rgb(56, 107, 46) ;

}
/* estilos de la seccion donde esta contenido el form para ingresar los datos de las mascotas */
.datosMascota{
    height: 25px ;
    border : 2px solid;
    border-color: rgb(124, 124, 124);
    border-radius: 5px;   
}
/*estilos especificos tabla consultar historial */
#datosConsultarHistorial{
    transform: translateY(80%);
}
/*estilos del pie de pagina utilizado en lodas las paginas de la web  */
footer {
    background: linear-gradient(transparent, rgba(255, 255, 255, 0.349));
    display: flex;
    bottom: 0;
    position: fixed;
    width:100%; 
    height:7%; 
    left: 0;
    align-items: center;
    justify-content: space-between;
}
footer p { 
    align-content: center;
    left: 0;
    color: #109204;
    font-weight: 600;
    padding-left: 15px;
}
footer a { 
    display:block ; 
    margin-right: 1rem;
    font-weight: 600;
    color: #3d81c0;
    right: 0;
}
/*estilos del formulario usado para subir datos en la pagina de subir datos  */
#formSubirDatos{
    display: flex ;
    display:grid;
    text-align: center;
    background-color: rgb(255, 255, 255); 
    position: relative ; 
    transform: translateY(20%);
    padding: 20px ;
    width: 50% ;
    padding-left: 5%;
    padding-right: 5%;
    margin:40px auto ; 
    border:5px solid ; 
    border-radius:10px; 
    border-color:rgb(31, 102, 13);
}
#formSubirDatos h1{
    color :rgb(56, 107, 46) ;
}
.espacioSubirDatos{
    display:block ;
    float: left ;
    height: 25px ;
    border : 2px solid;
    border-color: rgb(124, 124, 124);
    border-radius: 5px;   
}
/*estilos del apartado de consultar historial*/
#descripcionCita{
    display:block ;
    float: left ;
    width:100%;
    border : 2px solid;
    border-color: rgb(124, 124, 124);
    border-radius: 5px; 
}

