body{
    background-image: url(img_doc/fondo2.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;

}
.titulo{
    color :rgb(56, 107, 46) ;
}
.boton{
    transition: background-color 0.3s ease ; 
    border : 1px solid ; 
    border-color:rgb(124, 124, 124); 
    border-radius: 3px ;
    background-color: rgb(61, 171, 175);
    width: 150px ;
    height: 50px ;
    color:white; 
    cursor: pointer;
}
.boton:hover{
    background-color:rgb(68, 191, 196) ;
}